body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    /* margin-bottom: 3rem; */
}
h1 {
    text-align: center;
    color: #333;
}
button {
    margin: 0.5em;
}
img {
    width: 400px;
    max-width: 100%;
    margin-inline: auto;
}
img.hidden {
    display: none;
}
footer {
    /* position: fixed;
    bottom: 0px; */
    width: 100%;
    padding-block: 0.2rem;
    margin-top: 3rem;
    background-color: #ddd;
    font-size: small;
    text-align: center;
}
.input-group {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #ddd;
}
.warning {
    color: red;
    background-color: black;
    max-height: 50vh;
    overflow: auto;
    text-align: justify;
}
.success {
    color: green;
    background-color: black;
}
.tutorial {
    width: 400px;
    max-width: 100%;
    margin-block: 1rem;
    margin-inline: 0.5rem;
    padding: 1rem;
    color: #333;
    background-color: #ccc;
    border-radius: 1rem ;
}
.tutorial p {
    text-align: justify;
}
#tutorial-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:start;
    flex-wrap: wrap;
    text-align: center;
}